.how{
    font-size: 18px; 
    padding-top: 20px; 
    padding-left: 20px; 
    padding-right: 20px;
    font-size: 18px; 
}
.what{
    font-size: 18px; 
    padding-top: 20px; 
    padding-left: 20px; 
    padding-right: 20px;
    font-size: 18px; 
}

.about{
    font-size: 18px; 
    padding-top: 20px; 
    padding-left: 20px; 
    padding-right: 20px;
    font-size: 18px; 
}

*{background-color: #6DD5FA;}



